<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tools - Crazy for code </title>
    <% include head%>
</head>
<body>
    <% include nav%>

    <div class="row">
        <h1>正则表达式</h1>
        <form method="post" enctype="multipart/form-data" action="/image">
            <input type="text" name="sName" placeholder="specific a name">
            <input type="file" name="thumbnail">
            <input type="submit" class="button" value="upload"/>
        </form>
    </div>

    <% include foot%>
    <% include ga%>
</body>
</html>
