<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crazy for code </title>

    <% include head%>
</head>
<body>
    <% include nav%>

    <div class="row">
        <div class="main-wrap">
        	<h1>Welcome to crazy for code ...</h1>
            <p>A series of Front end development tools</p>
        </div>
    </div>

    <% include foot%>
</body>
</html>
