<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tools - Crazy for code </title>

    <% include head%>
</head>
<body>
    <% include nav%>

    <div class="row">
        <h1>Welecom to crazy for code ...</h1>
    </div>

    <% include foot%>
</body>
</html>
