<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tools - Crazy for code </title>

    <% include head%>
</head>
<body>
    <% include nav%>

    <div class="row">
        <h1>感谢 thanks</h1>

        <ol>
            <li><a href="https://www.npmjs.org/package/uglify-js">UglifyJS</a></li>
            <li><a href="https://www.npmjs.org/package/express">Express</a></li>
            <li><a href="https://www.npmjs.org/package/js-beautify">JS Beautifier</a></li>
            <li><a href="https://www.npmjs.org/package/clean-css">Clearn css</a></li>
            <li><a href="https://www.npmjs.org/package/html-entities">Html entities</a></li>
            <li><a href="http://foundation.zurb.com/">Foudation</a></li>
            <li><a href="http://deerchao.net/tutorials/regex/regex.htm">regex 30 minutes</a></li>
        </ol>
    </div>

    <% include foot%>
    <% include ga%>
</body>
</html>
